#comments {
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 0px 20px;
    margin: 20px auto;
}

.comments-title {
	font-size: 20px;
	font-size: 1.25rem;
	margin-bottom: 1.5em;
}

.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list li:before {
	display: none;
}

.comment-body {
	margin-left: 65px;
}

.comment-author {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 0.4em;
	position: relative;
    z-index: 2;
    a{
        text-decoration: none;
    }
}

.comment-author .avatar {
	height: 50px;
	left: -65px;
	position: absolute;
	width: 50px;
}

.comment-author .says {
	display: none;
}

.comment-meta {
    font-size: 0.9rem;
    a {
        text-decoration: none;
    }
}

.comment-body {
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 4em;
}

.comment-reply-link {
	font-weight: 800;
	position: relative;
}

.comment-reply-title {
    font-size: 1.25rem;
    a {
        margin-left: 5px;
        text-decoration: none;
    }
}

#cancel-comment-reply-link {
    font-size: 0.8rem;
    margin-left: 5px;
    vertical-align: super;
}

.comment-reply-link .icon {
	left: -2em;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}

.children .comment-author .avatar {
	height: 30px;
	left: -45px;
	width: 30px;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	padding: 2px;
}

.no-comments,
.comment-awaiting-moderation {
	font-size: 14px;
	font-size: 0.875rem;
	font-style: italic;
}

.comments-pagination {
	margin: 2em 0 3em;
}

.form-submit {
	text-align: right;
}

.comment-form #wp-comment-cookies-consent {
	margin: 0 10px 0 0;
}

.comment-form .comment-form-cookies-consent label {
	display: inline;
}

.comment-respond {
    width: 100%;
  
    input:not([type=checkbox]), label, textarea {
      width: 100%;
      display:block;
    }
  
    .comment-form-cookies-consent label{
      display: inline-block;
    }
  
    input:not([type=submit]) {
      height: 32px;
    }
}