.post {
  width: 100%;
  max-width: 800px;
  padding: 0px 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 600px;
  }

  &-meta{
    font-size: 0.9rem;
    .tags {
      opacity: .5;
      a {
        text-decoration: none;
      }
    }
  }

  .the-content {
    margin: 30px 0px 0px;
  }

  &-title {
    font-size: 1.625rem;
    margin: 30px 0px 5px;

    a {
      text-decoration: none;
    }
  }
} 